= form_tag('/search', method: 'get') do
  %fieldset
    =# label_tag 'query', 'Search Term:'
    = text_field_tag 'query', (@search.query unless @search.nil?), placeholder: 'Enter your query..'
    = button_tag 'Search', value: nil