= form_tag('/search', method: 'get', id: 'search') do
  %fieldset
    = text_field_tag 'query', (@search.query unless @search.nil?), placeholder: 'Enter your query..'
    = button_tag 'Search', name: nil