<ul>
  <% @clusterer.clusters.each_with_index do |cluster, n| %>
    <li>
      <h3>Cluster #<%= n %> (<%= cluster.size %> nodes)</h3>
      <p><a href="<%= cluster.url %>">Read more..</a></p>
      <ul>
        <% cluster.each do |sample| %>
          <li><%= sample %></li>
        <% end %>
      </ul>
    </li>
  <% end %>
</ul>