<ul>
  <% @clusterer.clusters.each_with_index do |cluster, n| %>
    <li>
      <h3>Cluster #<%= n %></h3>
      <ul>
        <a href="<%= cluster.urls.first %>">Read more..</a>
        <% cluster.each do |sample| %>
          <li><%= sample %></li>
        <% end %>
      </ul>
    </li>
  <% end %>
</ul>