#about.modal
	%h3 What?
	%p This search engine generates results by searching Twitter for your query and forming clusters based on similarity of the returned Tweets. From this meta data is retrieved from the most occuring URL in the cluster - this is then displayed to the user (you).
	= image_tag 'comment.gif'
	:markdown
		Searches made are anonymously recorded for analysing the effectiveness of this system. Any feedback you have greatly appreciated; simply click the *Not what you're looking for?* link on any results page.