// Place all the styles related to the Search controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
	text-align: center;
	font: 100%/1.5 "Lucida Grande", "Lucida Sans Unicode", Verdana, "Jamrul", sans-serif;
	margin: 5% 0;
}

/* smartphones */
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
	body {
		font-size: 350%;
	}
	.container {
		width: 100%;
		padding: 0 2%;
	}
}

.container {
	margin: 0 auto;
	width: 960px;
	text-align: left;
}

#header, #content, #navigation, #footer {
	margin-bottom: 1em;
}

body.splash {
	.container {
		width: 640px;
		h1#logo {
			text-align: center;
		}
	}
}

#footer {
	font-size: 0.8em;
	color: #ccc;
}

a:link {
	color: #00a3df;
}

a:visited {
	color: #7f00ba;
}

/* search field */
form#search {
	position: relative;
	overflow: hidden;
	
	-moz-box-shadow: 1px 1px 1px #eee;
	-webkit-box-shadow: 1px 1px 1px #eee;
	box-shadow: 1px 1px 1px #eee;
	
	input, button {
		border: 0;
		margin: 0;
		outline: none;
		padding: 10px;
		font-size: 1em;
	}
	
	input {
		-moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
		border: 1px solid #eee;
		width: 100%;
		
		&:focus {
			border-color: #ddd;
		}
	}
	
	button {
		background: #a1b25e;
		border-bottom: 2px solid #91a150;
		text-shadow: 0 -2px 0 #91a150;
		color: #fff;
		position: absolute;
		top: 0; right: 0;
		height: 100%;
		cursor: pointer;
	}
}

/* search results */
.results {
	#info {
		font-size: 0.8em;
		text-transform: uppercase;
		background: image-url('horiz-bar.gif') repeat-x 0 50%;
		color: #555;
		
		p {
			background: #fff;
			display: inline-block;
			padding-right: 5px;
		}
	}
	
	ol {
		li {
			margin-top: 1em;
			
			cite {
				color: #a1b25e;
				font-size: 0.8em;
			}
			p {
				margin-top: 0.5em;
        
        strong.highlight {
          font-weight: bold;
        }
			}
		}
	}
}